.recommended{
    margin-left: 12rem;
    background-color: #f7b1bb;
    padding: 1rem 3.5rem;
}
.title{
    font-size: 1.1rem;
    margin: .5rem;
}
.btn{
    padding: .5rem 0.7rem;
    background-color: white;
    border: 1px solid rgb(191, 185, 185);
    border-radius: 5px;
    display: inline-block;
    margin: 0 0.2rem;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(245, 244, 244);
    color: black;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}